body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
}

#map {
    flex: 1 0 auto;
    margin: 10px;
}

#logo {
    z-index: 400;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: url("images/os-logo.png");
    width: 198px;
    height: 48px;
}
