/* Set the document to use flexbox layout */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* ensure the map fills as much of the screen as possible */
#map {
    flex: 1 0 auto;
}


/* 
NOTE:
The CSS following this comment is for *styling purposes only* and is not essential for this demo to run
- strip out the styles below if you want cleaner code 
*/

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size:16px;
    color: #666666;
    min-width: 480px;
}

 
h1{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 0.7px;
    margin: 0 0 10px;
    color: #453c90;
}

p{
    margin: 10px 0;
}

b{
    font-weight:600;
}
label{
    line-height: 1.7em;
    font-weight: 600;
}
input, button{ 
    font-size: 16px;
    
}

input[type="text"]{
    height: 24px;
    border-radius: 3px 0 0 3px;
    border: solid 1px #dddddd;
    padding: 12px 16px;
    width: calc(100% - 145px);
    background-color: #f5f5f5;
    color: #333333;
    font-size: 16px;
    margin: 0;

}
button{
    height: 50px;
    border-radius: 0 3px 3px 0;
    background-color: #453c90;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    padding: 4px 20px;
    border:0;

}


#header{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
    z-index:1000
        
}


#instructions{
    position: fixed;
    background-color: #fff;
    padding: 10px 20px;
    top: 280px;
    width: 300px;
    left: calc(50% - 160px);
    z-index: 100;
    border-radius: 3px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
}

.hidden{
    display:none;
}
.warning{
    color:#d40058;
    font-weight:400;
}
form{
    margin-top: 20px;
    text-align: left;
}