/* Set the document to use flexbox layout */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    overflow-y: hidden;
}

#results {
    text-align: left;
    flex: 1 1 auto;
    padding: 10px;
    overflow-y: auto;
}

table, tr, th, td {
    border: none;
    border-collapse: collapse;
}

/*
NOTE:
The CSS following this comment is for *styling purposes only* and is not essential for this demo to run
- strip out the styles below if you want cleaner code 
*/

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size:16px;
    color: #666666;
    min-width: 480px;
}

table {
    margin: 20px 0;
}

th {
    color: #453c90;
    background-color: white;
    border-bottom: 2px solid #453c90;
}

tr {
    color: #333333;
}

tr:nth-child(odd) {
    background-color: #f6f5f9;
}

tr {
    border-bottom: 1px solid #dddddd;
}
 
h1{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 0.7px;
    margin: 0 0 10px;
    color: #453c90;
}

p{
    margin: 10px 0;
}

b{
    font-weight:600;
}
label{
    line-height: 1.7em;
    font-weight: 600;
}
input, button{ 
    font-size: 16px;
    
}

input[type="text"]{
    height: 24px;
    border-radius: 3px 0 0 3px;
    border: solid 1px #dddddd;
    padding: 12px 16px;
    flex: 1 1 auto;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 16px;
    margin:0;
}
button{
    height: 50px;
    border-radius: 0;
    background-color: #453c90;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    padding: 4px 20px;
    border:0;
}
button:disabled {
    background-color: #999999;
    color: #fff;
}
button.secondary {
    background-color: #fff;
    border: 1px solid #453c90;
    color: #453c90;
}
button.secondary:disabled {
    border: 1px solid #999999;
    color: #999999;
}
button:last-of-type {
    border-radius: 0 3px 3px 0;
}

#header{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
    z-index:1000
        
}


#instructions{
    text-align: left;
    position: relative;
    background-color: #fff;
    padding: 10px 20px;
    top: 40px;
    margin: auto;
    z-index: 100;
    border-radius: 3px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
}

.hidden{
    display:none;
}
.warning{
    color:#d40058;
    font-weight:400;
}
.inputContainer {
    display: flex;
}
.geometry {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
form{
    margin-top: 20px;
    text-align: left;
}